@media only screen and (max-width: 414px) {

/* Header Section */

header {
    display: flex;
    flex-direction: column;
}
#logo-div {
    width: 12.5rem;
}

#contact {
    margin-top: 2rem;
}

.modal-content {
    width: 90%;
    padding: 1rem;
    background-color: rgba(0,0,0,0.85);
}
    
#details-div {
    padding-top: 0.5rem;
    padding-left: 0;
}
    
/* Main Section */
    
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin: 2rem auto;
}

#about-bodies {
    margin-top: 2rem;
}

}@media only screen and (max-width: 375px) {

/* Header Section */

header {
    display: flex;
    flex-direction: column;
}
#logo-div {
    width: 12.5rem;
}

#contact {
    margin-top: 2rem;
}

.modal-content {
    width: 90%;
    padding: 1rem;
    background-color: rgba(0,0,0,0.85);
}
    
#details-div {
    padding-top: 0.5rem;
    padding-left: 0;
}
    
/* Main Section */
    
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin: 2rem auto;
}

#about-bodies {
    margin-top: 2rem;
}

}

@media only screen and (max-width: 360px) {

/* Header Section */

header {
    display: flex;
    flex-direction: column;
}
#logo-div {
    width: 12.5rem;
}

#contact {
    margin-top: 2rem;
}

.modal-content {
    width: 95%;
    padding: 1rem;
    background-color: rgba(0,0,0,0.85);
}
    
#details-div {
    padding-top: 0.5rem;
    padding-left: 0;
}
    
/* Main Section */
    
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin: 2rem auto;
}

#about-bodies {
    margin-top: 2rem;
}

}


@media only screen and (max-width: 280px) {

/* Header Section */

header {
    display: flex;
    flex-direction: column;
}
#logo-div {
    width: 12.5rem;
}

#contact {
    margin-top: 2rem;
}

.modal-content {
    width: 95%;
    padding: 1rem;
    background-color: rgba(0,0,0,0.85);
}
    
#details-div {
    padding-top: 0.5rem;
    padding-left: 0;
}
    
/* Main Section */
    
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin: 2rem auto;
}

#about-bodies {
    margin-top: 2rem;
}

}