* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: url("../images/cursor.cur"), auto;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 7.5vw 0;
}

.logo {
  width: 10rem;
}

.logo img {
  max-width: 100%;
  height: auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  width: 50%;
  font-size: 18px;
  font-weight: 500;
}

main {
  width: 80%;
  margin: 1rem auto;
}

.english-group {
  display: block;
}

.dutch-group {
  display: none;
}

.title h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.title h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.title h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.menu-text {
  margin-top: 25px;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  border-bottom: 0.5px solid white;
}

.menu a:first-child {
  border-top: 0.5px solid white;
}

.menu a:last-child {
  border-bottom: none;
}

section {
  margin: 25px 0;
}

section h2 {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
}

section h3 {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

section p {
  margin-bottom: 7.5px;
}

#data div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#data div p:first-child {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

#data div p:last-child {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

#managing-board p {
  margin-bottom: 10px;
}

.table-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-data p:first-child {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.table-data p:last-child {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

@media screen and (min-width: 1280px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 7.5vh 7.5vw 0;
  }
  .logo {
    width: 15rem;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0;
    width: 20%;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  .en, .nl {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .en:hover, .nl:hover {
    color: #56c3ed;
  }
}
/*# sourceMappingURL=anbi.css.map */